*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #e0e7ff;
    max-width: 100vw;
    max-height: 2000px;
    background: linear-gradient(168.44deg, #2e335a 1.62%, #1c1333 95.72%)
}
.app{
    padding: 10px;
}
.app-container{
    max-width: 600px;
    margin: auto;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 20%;
    font-size: 16px;
    margin: 20px 0px 10px 20px;
}

.weather-section{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 25px 30px 10px 30px;
    width: 300px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    left: 36.5%;
}

.search-container{
    text-align: center;
    
}
/* footer img{
    position: relative;
    top: 100px;
} */

@media (max-width: 768px) {
    body{
        height: 1013px;
        overflow-x: hidden;
    }
    .weather-section{
        width: 350px;
        left: 5%;
        margin: 5px;
        top: 50px;
    }

    input[type="text"] {
        width: 60%;
        margin: 20px 5px 10px 0px;
        top: 30px;
        position: relative;
    }
    
    .weather-img{
        position: relative;
        bottom: 5px;
        left: 250px;
    }

    .footer-img{
        width: 100%;
        height: auto;
        position: relative;
        top: 210px;
    }
}